
.App{
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
.container{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-gap:20px;
  margin:10px;
}
.card{
  overflow-x: hidden;
  box-shadow:
  0 2.8px 2.2px rgba(248, 146, 146, 0.034),
  0 6.7px 5.3px rgba(185, 104, 104, 0.048),
  0 12.5px 10px rgba(105, 58, 58, 0.06),
  0 22.3px 17.9px rgba(43, 20, 20, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.card img{
  height:300px;
}
.card-title{
  font-family: 'Abril Fatface';
  font-weight:999;
  cursor: pointer;
  text-align: center;
}
.card-title:hover{
  color:red;
}
.recipeDetails{
  overflow-x: hidden;
}
.recipeDetails li{
  font-weight:bold;
}
.recipeList{
  font-weight:bold;
}
.form{
  display:flex;
  justify-content:center;
}
.logo:hover{
  cursor: pointer;
}
.logo img{
  width:50px;
  margin:10px;
}
.App form{
  background-color: darkorange;
  width:100%;
}
.form input{
  margin:10px 10px;
  padding:15px;
  width:500px;
  border-radius:5px;
  outline:none;
  border:none;
  background-color:#e3e3e3;
}
.form form input:focus{
  background-color:white;
}
.form button{
  background-color:white;
  outline:none;
  border:none;
  padding:10px;
  margin:10px 10px;
  border-radius: 5px;
  width:100px;
  color:black;
  font-weight:999;
}
.form button:hover{
  cursor: pointer;
  background-color:black;
  color:white;
  transition: ease-in 0.2s;
}
/* .recipeNumber{
  display:none;
} */